.ad-block{
    margin-top: 15px;
    .ad-title{
        font-family:'黑体';
        font-size: 16px;
        border-bottom: 1px solid rgb(212, 207, 207);
        line-height: 35px;
        padding: 0 15px;
    }
    .ad-content{
        padding: 10px 15px;
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: 50% 50%;
        .ad-item{
            margin-bottom: 10px;
        }
        .ad-item-title{
            font-size:13px;
            line-height: 25px;
            text-align: center;
        }
        .ad-item-keyword{
            font-size:12px;
            text-align: center;
            line-height: 20px;
        }
        .ad-item-image{
            img{
                height: 125px;
            }
        }
    }
}

.list-block{
    .list-title{
        padding: 0 15px;
        font-family:'黑体';
        font-size: 16px;
    }
    .list-content{
        padding: 10px 15px;
    }
}