.buy-and-store-block{
    .btn-item{
        display: inline-block;
        width: 50%;
        text-align: center;
        button{
            border: 1px solid gray;
            color: gray;
            width: 75px;
            height: 35px;
        }
    }
    
}