.swipe-block{
    position: relative;
    top: 0px;
    left:0px;
    height: 176px;
    .swipe-container{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 50% 50%;
        .swipe-item{
            height: 75px;
            border:1px solid #000000;
        }
    }
    .swipe-index{
        ul{
            width: 100%;
            text-align: center;
            padding: 0px;
            margin: 0px;
        }
        
        li{
            list-style:none;
            display: inline-block;
            height: 8px;
            width: 8px;
            border-radius: 4px;
            background-color: #ccc;
            margin: 0 3px;
        }
        li.selected {
            background-color: #e85a5a;
        }
    }

    
}